.get-started-btn{
    font-weight: 600;
    color: #fff;
    background: #7ECB20;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 7px 38px;
}

button:focus{
    outline: none;
}

.maintext{
    margin-top: 200px;
    font-family: 'Open Sans', sans-serif;
}

.maintext h1{
    font-size: 41px;
    font-weight: bold;
}

.maintext p{
    font-size: 28px;
    font-weight: regular;
    color: rgba(0, 0, 0, 0.673);
}